@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&family=Montserrat:wght@300;500;700&family=Open+Sans:wght@300;500;700&family=Quicksand:wght@300;500;700&display=swap');

body {
    margin: 0% 10%;
}

.colors {
    border: 1px solid black;
 
}

.container {
    border: 1px solid black;
    padding:10px;
    margin: 10px auto;
    
}



.box {
    display: inline-block;
    min-height: 100px;
    margin: 20px auto;
    width: 20%;
    text-align: center;
    justify-content: center;
    
    
    
    
}

.box-papercream {

    background-color: #faf5f0;
}

.box-biski {
    background-color: #f7eadc;
}

.box-peach {
    background-color: #f5b371;
}

.box-mango {
    background-color: #f58f2a;
}


.quicksand {
    font-family: Quicksand;
}

.opensans {
    font-family: 'Open Sans';
}

.inconsolata {
    font-family: Inconsolata;
}

.light  {
    
    font-weight:300;
}

.medium {
    
    font-weight: 500;
}

.bold {
    
    font-weight: 700;
}